# distribution builds and documentation builds
/dist/
/docs/
/node_modules/
/npm/
/temp/
/package.json
/tsconfig.json

# version lock files
/deno.lock
/deno.d.ts

# automatic file clones
/.github/readme.md
/license.md
